{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un article</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un article</h2>

  <form method="post" action="/add/article" >
    <fieldset>
        <legend> Créer un article</legend>
        <label for="nom">nom</label><br>
        <input id="nom" type="text" name="nom" size="18" value="" placeholder="Saisir le nom de l'article"><br>

<!-- à modifier -->
        prix <br><input type="hidden" name="prix" value="10"><br>
        stock <br><input  type="hidden" name="stock" value="10"><br>
        description <br><input type="hidden" name="prix" value="lorem ipsum description"><br>
        image <br><input type="hidden" name="prix" value="no_photo.jpeg"><br>
<!-- fin à modifier -->
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}
